[2017-01-05 22:29] luismbo opened #2 "Kerberos docker images not working"
I've set up the kerberos.io docker image as follows:

[code]

I can see the two containers running:

[code]

I can login into the web interface, but this is what I get:

![screenshot from 2017-01-05 22-23-02](https://cloud.githubusercontent.com/assets/45759/21699979/feb57b60-d395-11e6-8d69-0f566dd40bee.png)

![screenshot from 2017-01-05 22-24-15](https://cloud.githubusercontent.com/assets/45759/21

[2017-01-06 06:58] cedricve commented on #2
Hey, this might be an issue with URL formatting do you have any other output streams (RTSP)?

[2017-01-06 10:00] luismbo commented on #2
@cedricve thanks for you quick reply. I have a cheap D-link DCS-932LB camera. AFAICT, it does not support RTSP. Googling turned up some potential RTSP URLs I might be able to use with this camera, but I couldn't connect using VLC.

I've tried to input many different URLs into Kerberos.io's settings, but nothing ever shows up in the logs. Is that expected? (I was expecting to see some connection fa

[2017-01-06 14:17] cedricve commented on #2
Well that's an issue with current version of Kerberos.io. If the ip camera is connected to the wifi, Kerberos.io will keep trying to access the endpoint, although the endpoint may not exists. For the moment there is no way to detect this. You need to be sure about the endpoint, other wise it is stuck for ever.. Try to restart the virtual machine after your configured a new endpoint.

Hope this wil

[2017-01-06 20:02] luismbo commented on #2
@cedricve That might have been it. `docker rm` and `docker-compose up` seems to have fixed things: I can now see the live stream on the dashboard page. However, something strange started happening: clicking on the "Settings" takes me to the dashboard instead, so I can no longer change any settings.

[2017-01-06 20:03] cedricve commented on #2
Can you send me the system files, which you can download on the system page.

[2017-01-06 20:08] luismbo commented on #2
Here you go!
[kerberosio-configuration.tar.gz](https://github.com/kerberos-io/docker/files/690739/kerberosio-configuration.tar.gz)

[2017-01-06 20:12] cedricve commented on #2
Looks ok. Can you remove the docker containers again, and add a project prefix:

docker-compose -p camera-frontdoor up -d

[2017-01-06 20:28] luismbo commented on #2
Same thing. After I set up the camera, accessing `/settings` returns a 302 Found (rather than the usual 200 OK) with the `Location` header pointing to `/`.

[2017-01-06 20:30] cedricve commented on #2
Can you ssh into the docker container and send me the contents of following file /var/www/web/app/storage/logs/laravel.log.

It looks like there is still something cached, you should try to remove all the images as well, so the kerberos images are downloaded again.

[2017-01-06 20:45] luismbo commented on #2
Here it is: [laravel.log.txt](https://github.com/kerberos-io/docker/files/690798/laravel.log.txt).

BTW, it's my first time using docker. I got into the docker container using `sudo docker exec -i -t camerafrontdoor_web_1 /bin/bash`. Is there a better way?

[2017-01-06 20:48] cedricve commented on #2
@luismbo no that's fine 👍

By the way from the logs I see that it tries to load http://localhost:32778//capture//1483734134_6-372374_frontdoor_98-0-630-479_7875_20.jpg, but it can't.

Can you click on "Remove images" on the system tab, probably you will then be able to access the settings page again.

[2017-01-06 20:55] luismbo commented on #2
Yep, that worked. Thanks!

[2017-01-06 20:56] cedricve commented on #2
Can you fake some motion, and see if images occur on the daily overview and if you then can still access the settings page?

[2017-01-06 21:00] luismbo commented on #2
I didn't have to fake any motion. After the stream resumes, it seems like the first frame is always considered motion and then the settings page stops working.

[2017-01-06 21:02] cedricve commented on #2
True, after a restart it will take an initial frame. Can we open a teamviewer session? Easier to debug.

[2017-01-06 21:06] luismbo commented on #2
Yes, sure. Setting it up.

[2017-01-06 21:13] luismbo commented on #2
Not sure how TeamViewer works. Want to guide me through it via https://appear.in/kerberos-docker-issue-2?

[2017-01-06 21:33] cedricve commented on #2
After debugging, we can conclude this is a a docker related issue. I will check this and come back to you @luismbo.

[2017-01-07 20:16] #2 closed

[2017-01-07 20:18] cedricve commented on #2
@luismbo issue will be resolved for docker in a couple of minutes. Currently Travis-CI is checking the building and create a new docker image. Progress over here: https://travis-ci.org/kerberos-io/web/builds/189856280

[2017-01-09 02:21] luismbo commented on #2
Grabbed a new docker image, but now I'm back to square 1. It seems to be getting stuck trying to connect to my IPCamera. I suppose I'll wait for a fix to https://github.com/kerberos-io/machinery/issues/48 so the logs give me some sort of hint what's going on. I'm using the same URL as before: double-checked that against the configuration tarball I sent you before.

[2017-01-09 10:01] cedricve commented on #2
This is typical behaviour with cheap IP camera's, you could try to restart the IP camera and your docker container.

[2017-03-05 20:47] cedricve opened #3 "Multi-architecture support"
# Context
We're creating a ARM Dockerfile, so Kerberos.io can also be used on other architectures as well. Afterwards we can use a manifest tool (http://container-solutions.com/multi-arch-docker-images/) to redirect to architecture specific images.

# Registry
~~Currently the only way is to create separate tags to support different architectures (e.g. machinery-x86, machinery-armv7hf, machineryamd

[2017-03-05 20:48] cedricve commented on #3
@dragoncube we can proceed in here.

[2017-03-11 18:04] theonlydoo opened #4 "SSL Scheme"
Turns out, while using a reverse proxy, assets are loaded through http still, is it possible to set a flag "ssl: true" in the docker-compose file ?

![ulvad3xqp2qeqyae13qenuanb](https://cloud.githubusercontent.com/assets/1903124/23825628/6cdb45a0-068d-11e7-9671-0073bcf21127.png)

[2017-03-11 21:52] cedricve commented on #4
@theonlydoo hmm this is a Laravel issue, by default http is set. Laravel requires to set the SSL scheme in the webapplication config.

[2017-03-13 15:22] theonlydoo commented on #4
yep but may it be configured through docker environment variables?

[2017-03-13 15:49] cedricve commented on #4
ideally, yeah but that would require some changes in the web repository first.

[2017-03-28 08:10] cedricve commented on #4
@theonlydoo I was thinking if you made some progress on this issue, or you're waiting for a solution?

[2017-03-28 08:17] theonlydoo commented on #4
hey @cedricve : neither  :-) I stayed on zoneminder, because I had also some issues adding my http cgi video input to kerberos and had very little time to test it. I opened the issue just to raise a problem, which may concern a lot of people who are using a reverse proxy

[2017-03-28 08:20] cedricve commented on #4
Ok @theonlydoo thanks for the feedback. I'll work on it and update this issue, once I've a resolution. Let's keep in touch.

[2017-05-13 22:12] mdvtj commented on #4
I am also very interested in a way to enable detection of SSL at the frontend. Ideally the web application should detect this scenario by checking `X-Forwarded-Proto` (like described in this [answer on SO](http://stackoverflow.com/a/16042648)).

During my research I came accross [Laravel Trusted Proxies](https://github.com/fideloper/TrustedProxy). It sounds to me (while not having any experience w

[2017-07-04 13:34] cedricve commented on #4
Will be fixed in next release.

[2017-07-15 15:33] cedricve commented on #4
fixed in version 2.3.0, KiOS 2.4.0

[2017-07-15 15:33] #4 closed

[2017-09-17 04:03] wcomartin opened #5 "IP/Port Config of Machinery"
I would be nice if the Web Docker had a config variable for the Machinery IP and Port
Instead of using the hostname `machinery` and a static port 8889
this make using multiple docker container pairs very difficult, I had to bash into the container to override the hosts file and the port in the nginx config.

[2017-09-17 06:05] cedricve commented on #5
hey @wcomartin, thanks for your advice. My docker knowledge is limited, do you see any solution to resolve this matter?

[2017-09-19 18:55] wcomartin commented on #5
Hey sorry I haven't responded earlier, I will see if i can put together a PR to fix, do you accept PRs?

[2017-09-19 18:55] cedricve commented on #5
ofcourse @wcomartin , awesome!

[2017-09-19 19:10] wcomartin commented on #5
I was just thinking about this a bit more, and I think that adding the variables to Docker could be a quick fix, but I think a better long term solution may be to have config in the app to specify the machinery IP/Port this would make it easier to add multi server support to one Web instance later.

for example instead of having a proxypass to the machinery in the nginx config (https://github.com/

[2017-09-20 02:20] wcomartin commented on #5
@cedricve I added the two ENV vars to the web docker in the web repo, which branch would you like me to make a PR to? develop?

[2017-09-20 08:57] cedricve commented on #5
perfect

[2017-09-29 06:49] cedricve opened #6 "Persist login credentials"
When using Docker the login credentials aren't persisted on a drive. Each time the docker container restarts, the new username and password are reset.

[2017-10-21 14:19] eji133 opened #7 "Unable to docker-compose the docker-compose.yml"
Hi,
I am a newbie. I learn to install and run kerberosio on top Docker on my Raspberry Pi B.
Unfortunately, all my attempts were stuck on single problem.
There were error:
    ERROR: In file '.docker-compose.yml', service 'environment' must be a mapping not an array.

Attempts:
1. Flash SD Card using HypriotOS then:
1.1. install kerberos-io as per : https://medium.com/@vpetersson/using-kerberos-io

[2017-10-22 09:37] eji133 commented on #7
Update.
Problem solved.
Cause of problem was due to I removed the "tab" in the code. So there were no indentation in the code. I should replace "tab" into "space". Using "space" as indentation solve the problem.
I will close this issue.
Thank you.

[2017-10-22 09:37] #7 closed

[2017-10-29 15:50] IulianParaian commented on #3
Hi @cedricve ,
I am trying to build the docker image on a rpi3 device but I'm getting the folowing error:
`
Step 3/12 : RUN cross-build-start
 ---> Running in eb11c1cebd50
standard_init_linux.go:178: exec user process caused "exec format error"
The command 'cross-build-start' returned a non-zero code: 1
`
I also tried with 'FROM resin/raspberrypi3-debian' but I get the same error.

[2017-11-16 23:10] shacal commented on #6
Use volume - kerberosio-service-conf-files:/var/www/web/config
Works...

[2017-11-17 06:26] cedricve commented on #6
thanks @shacal

[2017-11-17 06:26] #6 closed

[2018-02-03 20:26] emaildano opened #8 "Latest Release"
Hey! Is the Docker image version 2.5?

Setting up the image it appears to be running 2.4 with no available update.

[2018-02-04 07:33] cedricve commented on #8
Hey! no KiOS is at 2.5, machinery is at 2.4.

[2018-02-04 07:33] #8 closed

[2018-04-13 13:04] cedricve commented on #3
We're using Docker's Edge feature **docker manifest** to map the different architectures. Already compiled the different bases.

https://github.com/kerberos-io/docker/tree/master/base-linux-amd64
https://github.com/kerberos-io/docker/tree/master/base-linux-arm

[2018-04-13 13:09] cedricve opened #10 "Setup a single container which contains both machinery and web"
A lot of people are messing around with docker-compose and find it very hard to setup Kerberos.io using our docker images **web** and **machinery**. Therefore we're working on merging the two docker images.

[2018-06-04 08:15] cedricve commented on #3
we're now manifesting the kerberos/kerberos image.
https://hub.docker.com/r/kerberos/kerberos

[2018-06-04 08:15] #3 closed

[2018-07-05 12:56] gwontaeyong opened #12 "the output image is automately removed??"
Now i was running 4 docker container in virtual machine.
The kerbero.io is running very well. when some moved detected it save a image.
but after a few minute. That image was removed.

https://kerberosio.zendesk.com/hc/en-us/articles/202842272-Images-are-deleted-when-partition-is-almost-full

i was saw this answer. in this page you say if the disk is full the image will be removed automatically.
b

[2018-07-05 13:00] cedricve commented on #12
Yes, it's integrated.

Can you open a session to the docker container and write "df -h"?

[2018-07-07 07:29] gwontaeyong commented on #12
Yes as you told i write "dh -h"
The disk is almost full. Thank you

[2018-07-18 09:29] Dids commented on #4
This is still an issue in the `kerberos/kerberos:latest` Docker image.

[2018-07-28 15:30] h3rj4n opened #13 "Security issue: /stream is not secured"
I'm using this docker image to run the service. I want to open the service to the internet but the /stream URI is not secured using any password.

[code]
I don't have a solution right now. The 'normal' authentication uses PHP, the /stream URI proxies straight to the other service. There is no PHP in between, so no authentication.

[2018-07-29 23:38] AdySan opened #14 "Store images and video outside the docker container"
This should be obvious but I couldn't find this in the documentation. I'm a Docker noob, so forgive me if this is a trivial question. By default the images captured are saved to `/etc/opt/kerberosio/capture/`, how do I save them to an drive outside the docker container?

[2018-08-08 18:32] marceltrapman commented on #14
I am trying to do the same but fail so when using:

docker run \
...
 --volume /mnt/data/kerberosio/garagecam/capture:/etc/opt/kerberosio/capture \
 --volume /mnt/data/kerberosio/garagecam/config:/etc/opt/kerberosio/config \
 --volume /mnt/data/kerberosio/garagecam/logs:/etc/opt/kerberosio/logs \
 --volume /mnt/data/kerberosio/garagecam/web/config:/var/www/web/config \
...

The log file is written

[2018-08-15 17:41] cedricve commented on #14
Hey you could use our dockeros (see readme https://github.com/kerberos-io/docker)

Internally (inside dockeros) we create containers with a seperate config volume as following:
https://github.com/kerberos-io/docker/blob/master/bin/src/docker.sh#L43

[2018-08-15 18:10] roben commented on #14
Thanks for the help. Would you mind adding a pass through functionality for docker parameters? For example

`./dockeros.sh create {name} {config} {webport} {streamport} {dockerparams}`

This way we could just add the additional mount points to create command.

[2018-08-15 18:16] cedricve commented on #14
yeah make sense thanks @roben

[2018-08-18 22:55] aluchuk opened #15 "broken links"
like, everywhere ¯\\(°_o)/¯

[2018-08-24 20:10] AdySan commented on #14
FWIW, I got this owrking with this command

[code]

[2018-08-31 19:03] giannoug commented on #4
Doesn't work for me with `kerberos/web:latest`. Assets are still served using `http`, thus breaking the site.

Appropriate(?) headers are passed though:
[code]

[2018-09-12 15:20] amzamzamzamz opened #16 "Whoops, looks like something went wrong."
Docker container running, but on web page this error:
Whoops, looks like something went wrong.
'latest' build. and 'linux-amd64' too

[2018-09-12 20:00] #15 closed

[2018-09-12 20:01] cedricve commented on #16
hey @amzamzamzamz, which image are you using?

[2018-09-12 20:04] amzamzamzamz commented on #16
https://hub.docker.com/r/kerberos/kerberos/
linux-amd64 and latest

[2018-09-12 20:05] amzamzamzamz commented on #16
Running into OpenMediaVault Docker plugin

[2018-09-13 18:27] cedricve commented on #16
hmm, tried to run latest version and works like a charm. Are you using any special options?

[2018-11-10 16:40] khiles commented on #16
I am same running on OMV and get same error

[2018-11-10 18:55] cedricve commented on #16
@khiles can you provide me the web logs? /var/www/web/storage/logs M

[2019-01-07 01:56] WRH2000 opened #17 "How do I stop cloud service or external traffic on a docker image?"
Mac OS X 10.14.2
Docker Version 2.0.0.0-mac81 (29211)
Kerberos.io Versions: Web 2.5.1 Machinery 2.6.2

How do I stop the image from sending traffic to 159.65.215.225:1883...I assume this is some cloud MQTT service? I just want to run the image locally on my machine.

Also what is the SSL connection to https://hades.kerberos.io?

[2019-01-07 07:11] cedricve commented on #17
At the moment you cannot turn it off. However you can always block outgoing traffic.

Hades is a keep a live service (heartbeat).
159.65.215.225:1883 is indeed a MQTT service which is using our cloud.

[2019-03-11 23:49] joeydh opened #18 "web url not reachable"
I am running

sudo docker run --name camera1 -p 90:80 -p 8889:8889 -d kerberos/kerberos

afterward both the livestream and the webgui are not reachable eventhough the docker container is running. What could be happening ?

[2019-04-14 20:38] viperman1271 opened #19 "502 Bad Gateway - No streaming"
After using the latest docker image, it appears that Kerberos doesn't work. Adding an IP camera provides nothing and a message with "No stream, is the machinery running?" After using the console inside Chrome to inspect potential issues, the result was: `GET http://whirlpool/stream 502 (Bad Gateway).`

The docker container was created using  `docker run --name camera1 -p 80:80 -p 8889:8889 -d kerb

[2019-11-17 23:15] JulyIghor opened #20 "docker: no matching manifest for linux/arm64/v8 in the manifest list entries"
[code]

[2020-01-02 11:08] maleszbacsi commented on #19
I have same problem!

[2020-01-02 12:02] cedricve commented on #19
@maleszbacsi can you provide your logs, I'm not aware of an issue. So it might be you cannot connect to your IP camera properly.

[2020-01-02 14:20] maleszbacsi commented on #19
@cedricve
I can play the RTSP stream in my VLC via internet.
`- expositors.Rectangle.region.x1 = 0
- expositors.Rectangle.region.x2 = 800
- expositors.Rectangle.region.y1 = 0
- expositors.Rectangle.region.y2 = 600
- heuristic = Sequence
- heuristics.Counter.appearance = 3
- heuristics.Counter.markers = 100,100|100,200|200,100|200,200
- heuristics.Counter.maxDistance = 140
- heuristics.Counter.minA

[2020-01-03 19:36] slokhorst opened #21 "Doesn't start"
Following http://www.kerberos.io/opensource/installation#docker :

`> docker pull kerberos/kerberos`
[code]
`> docker run --name camera1 -p 80:80 -p 8889:8889 -d kerberos/kerberos`
[code]
`> docker logs camera1`
[code]

When I now visit http://localhost:80/ I get ERR_CONNECTION_RESET

[2020-01-03 20:00] slokhorst commented on #21
It seems to be that `runny.sh` was written for PHP 7.0 while [the docker image](https://hub.docker.com/layers/kerberos/kerberos/latest/images/sha256-630acdf5b8fae7cbb5f0a17cbc2f326f87efedd0db1e6709365e4419058a8714) uses PHP 7.1.

[2020-01-03 20:02] cedricve commented on #21
thannks for reporting, something went wrong in the build. Keep you posted!

[2020-01-03 20:23] cedricve commented on #21
@slokhorst , can you `pull`the image again? Made some changes.

[2020-01-03 22:38] slokhorst commented on #21
@cedricve It's working now. Thanks!

[2020-01-03 22:38] #21 closed

[2020-01-07 16:53] rkoktan opened #22 "Volumes not mapping properly"
I am using the following, but the mappings do not work correctly...

docker run -d --name kerberos-camera1 -p 8859:80 -p 8860:8889 -v /cameras/config:/etc/opt/kerberosio/config -v /cameras/capture:/etc/opt/kerberosio/capture -v /cameras/logs:/etc/opt/kerberosio/logs kerberos/kerberos

...and while the web interface loads correctly, it returns...

Oops, something went wrong One or more config files

[2020-02-09 21:15] KarlBaumann opened #23 "Docker container dies immediately on Raspberry Zero"
2020-02-09T20:53:58.340074224Z network connect 68c43e2bab7308ed42fbf78d10f81317e404e7e69454c3778077f8f168a1d63a (container=0e3af8316239296ba8956e488086805d4978b418ce15096655368110942b54e3, name=bridge, type=bridge)
2020-02-09T20:53:58.379730165Z volume mount 9c28d6d5b3bfe657ab416ab414ca585657bc8a6d2ecbf0dd252aa5c0f09cfa71 (container=0e3af8316239296ba8956e488086805d4978b418ce15096655368110942b54e3,

[2020-02-12 18:50] cedricve commented on #23
@KarlBaumann do you have any more debugging info?

[2020-02-12 19:01] KarlBaumann commented on #23
Not really, I am new to Docker so I did not know how to debug it better.
Afterwards I uninstalled docker and installed it the "Raspbian" way.
This method kind a works, but very often kerberosio service is getting killed by OOM killer and I think this might have been the case with docker as well. Basically there is not enough RAM available.
I can try to set up the docker environment again later if

[2020-02-12 19:39] cedricve commented on #23
Thanks that would be of great help.

[2020-02-12 19:41] KarlBaumann commented on #23
okay, after I set it up again, what would be the steps to get more debugging info?

[2020-02-13 07:04] cedricve commented on #23
try to run the docker container and run docker logs.

[2020-02-13 11:38] KarlBaumann commented on #23
Logs are compleately empty. I also do not see any messages in /var/log/messages about OOM killer, so it must be something else.

Could it be that that Docker image is simply not compatible with Pi Zero? Has anyone ever tested it?

[2020-02-13 12:03] cedricve commented on #23
its armv7 processor

[2020-02-13 12:31] KarlBaumann commented on #23
ARMv6:
![image](https://user-images.githubusercontent.com/11026930/74435614-1ccbc080-4e65-11ea-8222-f0a7f19bb192.png)

[2020-02-13 12:32] cedricve commented on #23
interesting, which image did it download can you inspect the docker image kerberos/kerberos

[2020-02-13 12:36] KarlBaumann commented on #23
https://pastebin.com/zEN21U6v

[2020-02-13 12:37] cedricve commented on #23
Thanks what happens if you just do docker run -p 80:80 -p 8889:8889 kerberos/kerberos.

[2020-02-13 12:38] KarlBaumann commented on #23
nothing
![image](https://user-images.githubusercontent.com/11026930/74436090-20137c00-4e66-11ea-9511-5746fdf903fc.png)

[2020-02-13 12:40] cedricve commented on #23
cann you try this image? (using the tag, kerberos/kerberos:linux-armv7)

https://hub.docker.com/layers/kerberos/kerberos/linux-armv7/images/sha256-03e597ffbe80f155230103fe6364521864127b1f42e95ed6fa731bf3d28fbdd9?context=explore

[2020-02-13 16:10] KarlBaumann commented on #23
Compleately the same with that image

[2020-02-16 08:42] cedricve commented on #20
which device are you using?

[2020-02-16 08:43] cedricve commented on #22
do you have the correct config files in `/cameras/config`?

[2020-02-16 08:45] cedricve commented on #19
could be related to the dns name you provided `whirlpool`.. Did you tried accessing through the IP address?

[2020-02-16 08:46] cedricve commented on #18
Can you try again with latest image?

[2020-02-16 12:36] JulyIghor commented on #20
Jetson Nano

[2020-02-18 15:39] rkoktan commented on #22
I've created the config folder (as well as capture and logs folders) under /cameras/ and expected the config files to be created in that location upon first running the image and going thru the web configuration, but it does not get the that point as I mentioned in my first post.  Interestingly, the logs do get created and populated in the location I specify.  If I simply run...

docker run -d --n

[2020-02-25 20:34] drthanwho commented on #14
I tried doing the same with your command but frontend won't load now.

[code]

![image](https://user-images.githubusercontent.com/22405505/75285112-4813bf80-5816-11ea-9549-1cb78775893e.png)

[2020-02-26 07:11] cedricve commented on #14
looks like the second mount already contains files, the mounted folder should be empty, or only contain valid image/video files.

[2020-02-27 12:20] drthanwho commented on #14
That would explain it since the folder I tried mounting isn't empty. Will try again with an empty folder and see how that goes

[2020-03-20 05:16] TomNeutrino commented on #19
I am having the same problem.  Chromium console says "Failed to load resource:  the server responded with a status of 502  stream:1 (Bad Gateway).  Using a RPi4.  But I can see the IP camera stream in the browser.  How is kerberos.io supposed to know the cameras local network address?

[2020-03-20 07:13] cedricve commented on #19
hey @TomNeutrino, did you update the setting page? when accessing the web app you can see the settings page at the top.

[2020-03-27 07:33] maui1911 commented on #22
I have this same problem. If you map the volumes the config files are not created. I think it expects already created config files. But I have a fresh install and I want the defaults to be created if they don't exist yet.

this is default behavior of a lot of docker containers

[2020-03-27 07:40] cedricve commented on #22
Hey @maui1911, yes correct it expects the configuration files are already present. However what you suggest makes a lot of sense. The machinery should check if the files exists, and if not create the them based on a template.

We are currently focusing on Kerberos Enterprise, but come back to the open source version asap.

Cédric

[2020-03-27 07:49] cedricve commented on #23
will look into this @KarlBaumann

[2020-03-27 07:50] #12 closed

[2020-04-01 19:02] ChriZathens commented on #16
Hello.
Old issue I know
Just installed myself in Openmediavault and got the exact same error
Port 80 is changed to 8088

I have no logs in /var/www/web/storage/logs
Container has the following paths configured:
/etc/opt/kerberosio/logs
/var/www/web/config
/etc/opt/kerberosio/capture
/etc/opt/kerberosio/config

 which all point to different folders on my storage

The only folder that has actually p

[2020-04-01 19:03] cedricve commented on #16
hey @ChriZathens can you share what is in your config folder?

[2020-04-02 13:09] ChriZathens commented on #16
Hello
I will validate this when I get home in about 2 hours, but I am pretty sure that there was nothing created in the config folder

[2020-04-02 13:46] cedricve commented on #22
We will provide a fix in the upcoming days, short term.

[2020-04-02 13:49] cedricve commented on #16
@ChriZathens your issue is related to this one: https://github.com/kerberos-io/docker/issues/22.
We will fix this in the upcoming days. Hold on.

[2020-04-02 15:42] ChriZathens commented on #16
Nice, thanks!

[2020-04-08 23:53] drthanwho commented on #14
So using the command from @AdySan it worker really well once I fixed the issue I mentioned above.
However the HDD I had mounted died so now that I've replaced it the mount directory has changed and is no longer recognised on Kerberos.

I'm not as familiar with docker yet. Is it possible to just change this to reflect the new mount point without having to delete the container and start all over aga

[2020-04-09 06:51] cedricve commented on #14
Interesting! I have actually no idea. Someone in this thread who knows the answer right away? I will check it out myself as well. Keep you posted.

Kind regards,
Verstraeten Cédric

[2020-04-09 09:15] drthanwho commented on #14
Thanks a lot!

Had a look on volumes and binds info online,  people were saying you could go into the docker container's json files and simply edit the directory to the one you want and simply start container again. But it seems that they get overridden when it starts up.

[2020-04-09 12:41] cedricve commented on #22
We have added a fix, and are rebuilding the docker image.

[2020-04-09 12:43] cedricve commented on #16
We have added a fix for this #22, and are rebuilding the image. Let you know when ready.

[2020-04-18 20:42] #16 closed

[2020-04-21 17:48] rkoktan commented on #22
Okay, the mapping appears to work correctly now, as when I shut down the container the config files, logs and captured images and videos remain in the mapped folders I set up.  However, when I restart the container and go to the login URL, it refuses my credentials.  If I go to the welcome URL and re-enter my credentials, it then logs on fine and my configuration is still present and working and t

[2020-04-21 18:22] cedricve commented on #22
Thanks, you should also map the Web folder. There is some data persisted to check if you already passed the welcome setup.

https://github.com/kerberos-io/docker/blob/master/Dockerfile#L177 <https://github.com/kerberos-io/docker/blob/master/Dockerfile#L177>

[2020-04-22 15:00] rkoktan commented on #22
Once I added the web folder to the mappings, it all works perfectly now... thank you so much for your effort!

[2020-04-22 18:01] cedricve commented on #22
Fixed ;) thanks for the help @rkoktan

[2020-04-22 18:01] #22 closed

[2020-04-22 18:02] cedricve commented on #20
Trying to  create a build. However arm64 is already available, but the v8 might be a specific archutecture? @JulyIghor

[2020-04-22 18:56] #18 closed

[2020-04-22 19:08] JulyIghor commented on #20
If I manually tag it, it works, It is just :latest tag not worked

[2020-04-22 19:08] #20 closed

[2020-04-22 19:09] cedricve commented on #20
@JulyIghor so you had to define the sha256  tag?

[2020-04-22 19:40] JulyIghor commented on #20
sorry I don't remember, I don't have this device any more

[2020-05-05 21:20] holantomas commented on #4
@cedricve any progress on this. Have setup over nginx reverse proxy and let encrypt cert. Main problem is that I have *.dev domain which have hardcoded SSL Preload so I cannot use this domain without SSL. Second is Allow-cross-origin `Access-Control-Allow-Origin` header which kill http AJAX requests. So I cannot go trought first language setup beacaus API request is blocked even I force enable cro

[2020-05-05 21:43] holantomas commented on #4
OK, after some research I solved it for now by overwriting **.env** file in web with `SECURE_SSL=true`.

**docker-compose.yml**
[code]

**.env**
[code]

[2020-05-06 06:27] cedricve commented on #4
hello @holantomas,

Actually there is a much easier approach, however I noticed it was not documented on this issue.

You could pass following environment variable in the container (https://github.com/kerberos-io/web/issues/158).

    services:
      kerberos:
        image: kerberos/kerberos:${VERSION}
        restart: always
        container_name: ${COMPOSE_PROJECT_NAME}
        privileged: tru

[2020-05-06 09:35] holantomas commented on #4
That works, thanks I somehow missed that issue.

[2020-05-06 11:14] cedricve commented on #4
No worries we will add it to the documentation. Would you mind sharing why you use docker compose?

[2020-05-06 11:33] holantomas commented on #4
I'm using docker-compose for everything because it's easy to save, push to git repo etc. I know that you have some kind of your's shell script, but I only want to get it works and check if it's what I need. For now I cannot get stream working. I can ping camera from container, but Machinery keep dropping like it was issued multiple times here. Unfortunetly nothing helped for now. After I get it wo

[2020-05-17 19:57] rbrooklyn opened #25 "resource.error: (1, 'Operation not permitted') when trying to run docker image"
OS is Ubuntu 20.04.
Running on a Raspberry pi 4 4GB.

Unfortunately it seems the docker image is doing something docker or Ubuntu isn't allowing. When running sudo docker run -p 80:80 -p 8889:8889 kerberos/kerberos the following output is observed and the container stops:

Config files are available.
Traceback (most recent call last):
  File "/usr/bin/supervisord", line 11, in <module>
    load_en

[2020-05-21 12:58] drthanwho opened #27 "Abnormal CPU load"
Hey, I'm running Kerberos on docker on a Rpi3b. Usually it idles around 10-20%, apart from occasions when other processes are running. But it looks like every so often it goes above 40% and stays at that percentage until I restart the container.
![image](https://user-images.githubusercontent.com/22405505/82561146-260aae80-9b73-11ea-9ac8-5e9c3864358b.png)
![image](https://user-images.githubusercont

[2020-05-21 13:00] cedricve commented on #27
Can you check what the logs are saying at 2:00? It looks there is the peak.

[2020-05-21 13:13] drthanwho commented on #27
For the sake of simplicity I've removed all repetitive lines of frame rate being too high. I was aware of that but didn't think it would be the cause of this cpu getting stuck that high.
[code]

[2020-05-27 19:19] ChieftainY2k opened #28 "kerberosio - very high memory usage when 1024x768 resolution and delay set to 100"
Memory usage is VERY high (eventually bringing my raspberry pi4 to a halt) when using specific configuration for raspberry onboard camera.

Steps to reproduce:

1. Run: `docker run --name camera -p 80:80 -p 8889:8889 -d -v /dev/vcsm:/dev/vcsm -v /dev/vchiq:/dev/vchiq --privileged kerberos/kerberos`
1. After initial configuration go to http://............./settings  -> ADVANCED
1. Change resolution

[2020-05-27 21:31] cedricve commented on #28
Thanks for reporting do you see some recordings as well in the /capture dir?

[2020-05-28 07:15] ChieftainY2k commented on #28
Yes there are some recordings:
[code]

[2020-05-28 07:18] ChieftainY2k commented on #28
@cedricve I can set up the ssh+ngrok service inside the kerberos container so that you can remotely login with ssh into it and look around.

[2020-05-28 13:21] leeallen337 opened #29 "image tags for each version"
I was looking at the [tag list](https://hub.docker.com/r/kerberos/kerberos/tags) for the docker containers and I was wondering if you plan on adding tags for the [releases](https://doc.kerberos.io/opensource/releases). Something like `2.8.0` in addition to having `latest` or `master`? That would support using a specific version and upgrading the version when desired as opposed to always pulling th

[2020-05-28 14:05] cedricve commented on #29
hey @leeallen337, in the past we had two docker containers, and merge them to one. Once we release an new version this is indeed the way to version. Thanks for sharing ;)

[2020-05-28 14:05] #29 closed

[2020-05-28 20:06] cedricve commented on #28
thank you @ChieftainY2k, are you able to reproduce as well?

[2020-05-29 05:23] cedricve commented on #28
@ChieftainY2k were you experiencing, or did you ever tested, with previous Kerberos version? I understand you were using the .deb files before?

[2020-05-30 09:27] ChieftainY2k commented on #28
@cedricve  I was able to reproduce the problem with the following setups:

* Official KIOS SD image 2.8.0 (https://github.com/kerberos-io/kios/releases/download/v2.8.0/kios-raspberrypi4-2.8.0.img.gz)
* Docker image from the official kerberos docker repository (https://hub.docker.com/r/kerberos/kerberos)
* My own docker image with deb package from https://github.com/kerberos-io/machinery/releases/d

[2020-05-30 10:41] cedricve commented on #28
Thanks for the detailed information! RaspberryPi 4 is only supported from 2.8.0.

What happens if you test with a Raspberry Pi 3? Just curious..

Kind regards,
Verstraeten Cédric

[2020-05-31 19:27] cedricve commented on #27
I assume it is normal as it started recording @drthanwho ?

[2020-05-31 19:32] cedricve commented on #25
hmmm @rbrooklyn do you have any update on this?

[2020-05-31 19:41] cedricve commented on #28
also @ChieftainY2k what is the reason of setting delay to 100? Do you also experience with lower values?

[2020-05-31 21:59] drthanwho commented on #27
These is over the last 7 days, Unfortunately the time axis is't labelled but here's the general idea. Peaks to 80% happen every day at 6am/2pm/9pm but are expected (a cron job running an ffmpeg timelapse script). The lowest periods (~6%) are midnight onwards (assume since there's no motion at night) and then day time it gets to ~10% and small peaks in those times must be the recordings. But since

[2020-06-01 05:02] cedricve commented on #27
Do you also have a memory dump?

Kind regards,
Verstraeten Cédric

[2020-06-01 07:57] ChieftainY2k commented on #28
@cedricve I was just playing around with optimal parameters to detect motion in the area my camera is pointed at and then after setting delay do 100 this memory bug happened. Then I set it back to 500 everything goes back to normal after a while.

[2020-06-01 09:33] ChieftainY2k commented on #28
Just tested it with following setup and was able to reproduce the memory problem:
* Hardware: Raspberry Pi 3 Model B Plus Rev 1.3
* SD Image: https://github.com/kerberos-io/kios/releases/download/v2.7.2/kios-raspberrypi3-20180714.img.gz

![image](https://user-images.githubusercontent.com/968529/83396053-a1822080-a3fb-11ea-92a8-b31e6fcdfc57.png)

[2020-06-01 10:41] cedricve commented on #28
Interesting it might be that the os is not able to free up the resources. Can you experiment (incremental) which params are causing this issue. Could be that it is resolved once beyond 250 (wild guess). You said that with 500 it is ok? But probably this takes to long for you to detect motion?

I will look into the source code to find the root cause. Let me know what you find as well 👌

Thanks for

[2020-06-01 23:46] drthanwho commented on #27
I don't know how to do that on the pi. If you can point me somewhere I could give it a try.

I've had a look on the logs but I can't find anything. If anything, there is weirdly nothing logged at the point where CPU starts going up.

These are from the point from yesterday's graph (~7.50pm)
[code]
And these are from today. It's happened again (should be ~9.30pm)
![image](https://user-images.github

[2020-06-02 06:02] cedricve commented on #27
Did you tried to disable your script? Just to rule out some parts, and see if it also happens?

Kind regards,
Verstraeten Cédric

[2020-06-06 08:35] rbrooklyn commented on #25
Only that it's probably still broken, unless an update has landed since I raised the issue.

The only way to get this working is to run the container privileged, which is obviously far from ideal.

[2020-06-06 08:55] cedricve commented on #25
I believe this is because the OS you are using.. maybe something have to change within the dockerfile. It works just fine on other OSes. Interested to get this working.

Kind regards,
Verstraeten Cédric

[2020-06-27 10:38] chevli commented on #25
I had to run this using the `--privileged` flag to get this working on my RP4 running Ubuntu 20.04. I hope that helps.

[2020-07-28 13:35] lfiocco opened #30 "Q-See QCN8001D - High CPU"
Hello, i am running this on ESXi 7, Ubuntu 20.04 and docker within. single camera 1280x720 can go to 1080. getting high CPU on kerberosio 50%. can you tell me how to bring this down.

Can we set it to record all the time to save cpu?

my old nvr software just recorded, 6 cameras, it did not go over 20%

[2020-08-04 22:06] meeki007 commented on #28
This Jogged my brain of the issue I had with memory overloading.
I set limits on logs when starting container.
[code]
![docker_ram](https://user-images.githubusercontent.com/5952964/89350018-39f78400-d67d-11ea-89b5-4f6047fa9de7.jpg)

[2020-08-27 13:07] dbwest commented on #23
Hi, I have a whole bunch of Raspberry Pi Zero Ws. And I am very psyched about getting kerberos.io working with them using Docker. `uname -r` on the units reveal they are ARMv6. I noticed there was no ARMv6 build in the Docker Hub registry. I also noticed that the instructions for cross compiling are on the `readme.md`. I tried a cross compile for ARMv6 and the build fails when grabbing PHP 7.1 pac

[2020-08-27 13:21] dbwest commented on #23
FWIW... I opened this on Surý's bug tracker:
https://github.com/oerdnj/deb.sury.org/issues/1455

[2020-08-27 13:22] cedricve commented on #23
thanks @dbwest yes we still need to add support for ARMv6, thanks for helping ;)

[2020-08-27 13:45] dbwest commented on #23
Wow, immediately heard back that there is no support and no intention to support armv6 from Surý. I am seeing if a Raspian base image is a thing because there is an ArmPort for Raspian that supports hard-float and targets armv6.

[2020-08-27 13:46] cedricve commented on #23
Ok, maybe we might need to create an exception for this, and create an additional Dockerfile?

[2020-08-27 14:30] dbwest commented on #23
That sounds good. I am doing some sort of hackery now where I changed the Dockerfile in my fork. Build is here and going now. It has at least gotten to the NASM bit with some changes to use Raspbian and get Node differently:
https://github.com/dbwest/kerberos-docker/runs/1036980595?check_suite_focus=true

You are right about an additional Dockerfile, or something better organized than what I am tr

[2020-08-27 14:32] cedricve commented on #23
That would be great @dbwest let me know if you need help or would get stuck. More then happy to help!

[2020-08-27 18:40] dbwest commented on #23
So it looks like it built.
I am going to try deploying it to the pi zero w I want to use with kerberos.io, and if it works I will tidy this up and do a pull request with a new Dockerfile and submit for review.

[2020-08-27 19:13] cedricve commented on #23
WONDERFUL! share with me your findings ;)

[2020-08-27 21:32] dbwest commented on #23
I deployed it and there are still problems. Attaching the log FWIW. I tried deploying to balena.io with this repo: https://github.com/dbwest/kerberos

Logs attached from the failing service...
![Capture](https://user-images.githubusercontent.com/1122691/91497089-4b523b80-e88b-11ea-8a03-3abcf4e1fdac.PNG)
[kerberos-balena-dbw_young-frog-27.08.20_17_27_16_(-0400).txt](https://github.com/kerberos-io/k

[2020-08-28 07:28] cedricve commented on #23
Thanks for sharing ;) Can you show contents of `run.sh``

        27.08.20 16:22:13 (-0400) <main> /run.sh: line 49:    13 Done

[2020-08-29 20:24] dbwest commented on #23
`#!/bin/bash

autoremoval() {
  while true; do
    sleep 60
    if [[ $(df -h /etc/opt/kerberosio/capture | tail -1 | awk -F' ' '{ print $5/1 }' | tr ['%'] ["0"]) -gt 90 ]];
    then
      echo "Cleaning disk"
      find /etc/opt/kerberosio/capture/ -type f | sort | head -n 100 | xargs rm;
    fi;
  done
}

copyConfigFiles() {
  # Check if the config dir is empty, this can happen due to mapping

[2020-08-31 11:27] cedricve commented on #23
@dbwest thanks, let us know if you have any break through ;)

[2020-11-24 20:34] cedricve commented on #23
@dbwest not sure if already changed something? I have some time to elaborate on this issue.

[2020-12-18 15:19] daviscodesbugs commented on #19
Experiencing the same issue. I am able to access the stream via `<ip_address>/stream` but every other endpoint I've tried has an nginx 502 message

[2020-12-30 12:09] quammy opened #31 "TCPSocket output to server on host doesn't work?"
Hi,
My setup with issue is:
* Windows 10 Home with WSL2 + Docker desktop for windows set for Linux containers.
* Kerberos docker works as expected with alerts output to "Video" and "MQTT" (to a test MQTT server http://www.dioty.co/).
* Simple TCP server on host (the windows 10 machine)

I've set the IP on the kerberos machinery TCPSocket setup as "host.docker.internal" and also as the IP I've seen

[2020-12-31 12:16] quammy commented on #31
It just started to work after a while. I'm closing the issue for now as I cannot replicate the situation.
Cheers.

[2020-12-31 12:16] #31 closed

[2021-01-29 15:54] yllekz opened #32 ""Remove Images" should allow you to either choose what to remove, or have a confirmation prompt."
I was playing around with the software and noticed that clicking "Remove Images" immediately removes all of your capture data without seemingly any notice nor confirmation. From a user experience perspective, it would be nice if this button were changed to either choose what to delete, or explain/confirm what the button is about to do without blowing it all away.

[2021-02-03 08:47] lexustec opened #33 "Deployment of kerberos/kerberos:latest fails"
Hello folks,

I tried to deploy kerberos on my docker swarm the last days.

I run into the same issue someone had posted on kerberos/machinery:

2021-02-03 08:28:09,527 CRIT Set uid to user
2021-02-03 08:28:09,556 INFO RPC interface 'supervisor' initialized
2021-02-03 08:28:09,557 CRIT Server 'unix_http_server' running without any HTTP authentication checking
2021-02-03 08:28:09,557 INFO superviso

[2021-02-05 12:41] cedricve commented on #28
We are working on a complete rewrite of the open source version. When using h264 cameras, you will be able to record at  almost no CPU (<1%). Already implemented through our enterprise offering but not yet released in the open source repo,
https://github.com/kerberos-io/opensource

[2021-04-04 18:00] fungijr opened #34 "High CPU Usage On Virtualized Server"
Hi,

Like other users I am having extremely high CPU usage (50%+) when running basically anything. I am running 3 cameras at 1920x1080/20fps on a Ubuntu LTS 20.01 server via Proxmox. If I restart the containers and never touch the portal they will run fine (15-20%) but the second I try to access the portal and look at settings or streams it jumps straight to 50%+ usage.

[2021-04-04 18:00] fungijr commented on #30
I second this issue, same exact scenario here.

[2021-04-22 20:24] edgarGracia commented on #33
This happened to me too.
I managed to solve it by enabling the raspberry camera on the raspi-config:

`sudo raspi-config `->  Interface Options  ->  Camera

[2021-06-17 21:17] sergeolkhovik opened #35 "Have an option to disable internal cleanup"
I've 4 cameras served by 4 instances of kerberos-docker (each writes into own sub-folder, i.e. /var/lib/kerberos.io/camX), and I noticed that some cameras have very less videos in the storage folder. I assume the reason is that I have 4 autoremoval instances running at the same time and depending on system load some may clean more files in its camera storage than others?
Is it possible to disable

[2021-07-14 05:11] Obezyana33 opened #36 "Dashboard does not show stream, if host streaming port set to anything other than 8889"
## Intro:
I am a subscribed member, with seven cameras currently streaming to kerberos-cloud.  I use Podman on RHEL8, with SELINUX enabled.

## Issue:
When I configure a single camera and map internal port 8889 to external port 8889, I am able to both see the stream on http://SERVER:8889 and via the Dashboard screen of the web app.

eg. _(stream works on port 8889 and in Dashboard)_
[code]
BUT whe

[2021-07-14 05:13] cedricve commented on #36
Exactly @Obezyana33 we will overcome this issue in Open Source v3. Thanks for reporting your solution!

[2021-07-14 05:14] Obezyana33 commented on #36
When can we expect v3? ;-)

[2021-07-14 05:15] cedricve commented on #36
Q1 - January we will make our first stable release. So not very soon, but it will be an amazing improvement. That’s for sure.

[2021-07-14 05:16] Obezyana33 commented on #36
Very much looking forward to it!

[2021-07-14 05:16] #36 closed

[2021-08-18 15:23] kubo6472 commented on #23
How is this handled on KiOS, that works with RPi Zero W no problem?

[2021-09-27 15:10] guyco75 opened #37 "Running kerberos-docker as non-root user"
I was wondering how complicated it will be to execute ./run.sh as a regular non-root user, to reduce the risk of compromising the host itself.
Something in the lines of what's described here: https://betterprogramming.pub/running-a-container-with-a-non-root-user-e35830d1f42a

[2022-02-25 12:48] tca22 opened #38 "XML-config-files not updated through web-interface"
Hello,

I am using Version 2.8.0 on docker and just realised, that the XML-config-files (config folder is mapped to local volume) cannot be updated through the web-interface anymore. Obviously, this was once working, but somewhen along the update-path since V2.3.0, this glitch sneaked in.

I tried a new installation as well, but the issue remains. Any thoughts or directions?

Thank you,
Tom

[2022-03-26 11:36] tca22 commented on #38
solved.

seemed to be the config-file "expositor.xml" was somehow corrupted/non-compliant; copied it over / recreated it from the GitHub-reposirory and everything worked fine again;

[2022-03-26 11:36] #38 closed

[2022-04-30 21:21] yllekz commented on #17
I caught my kerberos instance also talking to hades.kerberos.io today when my camera is never intended to reach out to the internet. Can a further explanation be provided as to why this is happening?

[2022-07-24 02:23] jdpc86 opened #39 "passing laptop built-in camera to docker running in docker desktop for windows 10 home"
...guys not really an issue but a question...how can i pass thru the camera to docker on window 10 with wsl2?
thanks in advance!

Jindong.

[2022-09-08 14:48] yllekz commented on #33
This project/app/repo seems to be dead/inactive unfortunately. Not sure what's going on.

If it helps, this is my docker-compose which works on a Pi (assuming you have a directly-attached Pi camera via the camera port:

[code]

[2022-09-08 14:49] cedricve commented on #33
Hey there no it is revived here -> https://github.com/kerberos-io/agent <https://github.com/kerberos-io/agent>

This repo will be updated soon.

[2022-09-08 14:56] yllekz commented on #33
Oh, interesting. Will there be an update to the current app or is there an entirely new Docker container coming out?

[2022-09-08 14:57] cedricve commented on #33
Its build from scratch, everything is new. Currently it only works with a RTSP stream (and we are proxying USB and RPI cameras). But IP cameras coming with a h264 stream will work natively.